:root {
    --amarelo: rgb(250, 235, 21);
    --preto: #141414;
    --branco: rgb(255, 255, 255);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*elementos base*/
body {
    background: var(--preto);
    font-family: 'Arial', Times, serif;
    color: white;
}


header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .tipo{
    color: white;
    text-decoration: underline;
}

header .logo {

    color: var(--amarelo);
    font-family: 'Arial Black', Times, italic;
    font-size: 40px;
    
	
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover {
    color: #fff;
}

.botao {
    background-color: rgba(255, 235, 21, 0.3);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 10px;
    font-size: 12px;
    border-radius: 3px;

    cursor: pointer;
    transition: .3s ease all;

}

.botao:hover {
    background-color: var(--preto);
    color: var(--amarelo);
    border-radius: 3px;
}

.botao i {
    margin-right: 8px;
}

.container {
    margin-left: 20px;
}

/*filme principal*/
.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, .100), rgba(0, 0, 0.50)100%), url('/img/capa.jpg');

    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao {
    margin-top: 10px;
    margin-bottom: 40px;

}

.filme-principal .titulo {
    margin-top: 5%;
    font-size: 50px;
    font-family: 'Copperplate', 'Copperplate Gothic light', fantasy;

}

.filme-principal .container {
    width: 70%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes{
    margin-top: 5px;
}

/*serie principal*/
.serie-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, .100), rgba(0, 0, 0, .50)100%), url('/img/capa1.jpg');

    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.serie-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}

.serie-principal .titulo{
    margin-top: 5%;
    font-size: 50px;
    font-family: 'Copperplate', 'Copperplate Gothic light', fantasy;
}

.serie-principal .container{
    width: 70%;
}

.box-serie{
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-series{
    margin-top: 5px;
}

/*movie principal*/
.movie-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, .100), rgba(0, 0, 0)100%), url('/img/capa2.jpg');

    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.movie-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}

.movie-principal .titulo{
    margin-top: 5%;
    font-size: 50px;
    font-family: 'Copperplate', 'Copperplate Gothic light', fantasy;
}

.movie-principal .container{
    width: 70%;
}

.box-movie{
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-movies{
    margin-top: 5px;
}

/*documentario principal*/
.documentario-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, .100), rgba(0, 0, 0)100%), url('/img/capa3.jpg');

    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.documentario-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}

.documentario-principal .titulo{
    margin-top: 5%;
    font-size: 50px;
    font-family: 'Copperplate', 'Copperplate Gothic light', fantasy;
}

.documentario-principal .container{
    width: 70%;
}

.box-documentario{
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-documentarios{
    margin-top: 5px;
}


